<div>
  <h1><%= @flat.name %></h1>
  <h4><%= @flat.address %></h2>
</div>

<div>
  <h3>A bit more about this flat...</h3>
  <p> <%= @flat.description %> </p>
</div>

<div>
  <h4>Book this place!</h4>


</div>

<div>
  <h2>Details</h2>
  <span><i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %> <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %></span>
</div>

<div>
  Share
  <i class="fab fa-facebook-square"></i>
  <i class="fab fa-twitter-square"></i>
  <i class="fab fa-pinterest-square"></i>
  <i class="fas fa-envelope-square"></i>
</div>
